# Assignment 2 (Part 2)

### Assignment Instructions

* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`
* You are **not** allowed to use for-loops anywhere in the assignment unless explicitly permitted
* You are **not** allowed to import any other libraries
* Use **only** seaborn or pandas to make plots
* In questions which require storing of answer, if nothing else mentioned use `qKAns` to store the answer where K is question number.
* Rename this file to `YourName_DA2_2.ipynb` and submit the two notebooks. to `YourName_DA2.zip`

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
from scipy.stats import norm

In this part, we will explore a dataset usually used in machine learning to perform classification. It has several demographic features of adults and a column that shows whether they have an income of atleast 50k. Of course, before performing machine learning we need to clean the dataset and visualise it so as to ascertain whether it will give reliable results.

**Question 1** Read the dataset `adults.csv` into the variable `adultsData`. `fnlwgt` is the index column.

In [36]:
#Write your code here
adultsData = pd.read_csv('adults.csv')
a=adultsData

**Question 2** Convert all numerical columns, including the index, into the `int` datatype.

In [ ]:
numerical_cols = ['age', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
adultsData[numerical_cols] = adultsData[numerical_cols].astype(int)
# Convert index to int (if 'fnlwgt' was set as index in Q1)
adultsData.index = adultsData.index.astype(int)

**Question 3** Replace values in the `income` such that if `income <= 50k = 0` and `income > 50k = 1`.

In [ ]:
adultsData['income'] = adultsData['income'].replace({'<=50K': 0, '>50K': 1})

**Question 4** Change the name of the column `education-num` to `years of education` and `relationship` to `relationship status`. Replace dashes in the index names with spaces (without hardcoding).

In [ ]:
adultsData.rename(columns={
    'educational-num': 'years of education',
    'relationship': 'relationship status'
}, inplace=True)
adultsData.columns = [col.replace('-', ' ') for col in adultsData.columns]

**Question 5** Convert all the string columns into the `string` datatype.

In [ ]:
string_cols = adultsData.select_dtypes(include=['object']).columns
adultsData[string_cols] = adultsData[string_cols].astype('string')

**Question 6** Write a function `dashToSpace` that receives an entire column of a dataframe and returns a copy of the column with dashes replaced with spaces.

In [ ]:
def dashToSpace(col):
    return col.str.replace('-', ' ')

**Question 7** Use the function `dashtoSpace` inplace on `adultsData`.

In [ ]:
for col in adultsData.select_dtypes(include='string').columns:
    adultsData[col] = dashToSpace(adultsData[col])

**Question 8** Visualize total number of missing values for columns that contain missing values. Only plot the columns which have missing values. Choose a suitable visualization.

In [ ]:
missing = adultsData.isnull().sum()
missing = missing[missing > 0]
sns.barplot(x=missing.index, y=missing.values)
plt.title('Missing Values per Column')
plt.show()

**Question 9** In this question we will deal with null values. Replace the null values in each column with the non-null categorical mode of the column with the years of education. What that means is for each unique value of `years of education` find the mode of column's non-null rows. Use loops if you wish.

In [ ]:
for col in adultsData.columns[adultsData.isnull().any()]:
    modes = adultsData.groupby('years of education')[col].transform(lambda x: x.mode()[0])
    adultsData[col] = adultsData[col].fillna(modes)

**Question 10** Combine `capital gain` and `capital loss` columns into `capital profit`. Insert `capital profit` into `adultsData` right before `income`.

In [ ]:
#Write your code here
...

**Question 11** Display a colored correlation heatmap for all numerical columns in `adultsData`. Format the heatmap as follows: 
- Display correlation values on the heatmap 
- Use a diverging color palette of your choice

In [ ]:
#Write your code here
...

**Question 12** Describe what the heatmap shows.

...

**Question 13** For all numerical columns in `adultsData`, plot their relationships with average income. Use a suitable representation. You can use for loops here.

In [ ]:
#Write your code here
...

**Question 14** For each numerical columns in `adultData`, draw a scatter plot with <b>all</b> other numerical columns with distinct values of the numerical column on the x-axis and the average value of numerical columns on the y-axis. For example, `age` against `average years of education`. You can use for loops here.

In [ ]:
#Write your code here
...

**Question 15** For all non-numerical columns in `adultsData`, plot their relationships with average income. Use a suitable representation. You can use for loops here.

In [ ]:
#Write your code here
...

**Question 16** Describe the relation of each non-numerical column with the income as you see in the above plots. Specifically describe what effect being in a certain category has on the income

...