# Assignment 1

### Assignment Instructions


* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`

### Submission Instructions

* Rename your notebook as **YourName_DA1.ipynb**. (e.g. *`JohnDoe_DA1.ipynb`*)

* Only submit your notebook named **YourName_DA1.ipynb**

In [3]:
# Import necessary libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Question 1:** We will begin from the very basics and attempt to create the table below. (`Note:` *name* is ***not*** an index_col)

| name | weight | height | BMI |
|-----|-----|-----| -----|
| Max | 110 | 70 | 15.78 | 
| Oliver | 115 | 71 | 16.04 |
| Tom | 120 | 72 | 16.27 |
| Harry |125 | 73 | 16.49 |
| Jasper | 130 | 74 | 16.69 |
| Finn | 135 | 75 | 16.87 |
| Felix | 140 | 76 | 17.04 |
| Asher | 145 | 77 | 17.19 |

**a:** Generate a series with the names of all the people. Assign it to the variable `name`.

In [158]:
# Please write your code below
list = ['Max','Oliver','Tom','Harry','Jasper','Finn','Felix','Asher']
name =pd.Series(list)
name

0       Max
1    Oliver
2       Tom
3     Harry
4    Jasper
5      Finn
6     Felix
7     Asher
dtype: object

**b:** Generate a series that contains the weight of all the people. Assign it to `weights`. (You are required to use a python function to do this. Hardcoding all values manually is not allowed).

In [156]:
# Please write your code below
table=[110,115,120,125,130,135,140,145]
weights=pd.Series(table)
weights

0    110
1    115
2    120
3    125
4    130
5    135
6    140
7    145
dtype: int64

**c:** Generate a series that contains the height of all the people. Assign it to `heights`. (You are required to use a python function to do this. Hardcoding all values manually is not allowed).

In [160]:
# Please write your code below
table2=[70,71,72,73,74,75,76,77]
heights = pd.Series(table2)
heights

0    70
1    71
2    72
3    73
4    74
5    75
6    76
7    77
dtype: int64

**d:** Using the above series generate a series that contains the BMI of each person. The formula for BMI is as follows:
$$ BMI = weight (lb) รท height^2 (inches) * 703 $$
Assume that the given weight is in lb and height is in inches. Assign it to the variable `BMI`.  Round your answers to 2 decimal places  (You are not allowed to hardcode).

In [164]:
# Please write your code below
main=np.array(weights/(heights*heights)*703)
BMI = pd.Series(np.round(main,decimals=2))
print(BMI)

0    15.78
1    16.04
2    16.27
3    16.49
4    16.69
5    16.87
6    17.04
7    17.19
dtype: float64

**e:** Finally, use all the above created series to create the dataframe shown above. Assign it to `BMIData`.

In [198]:
# Please write your code below
BMIData = pd.DataFrame({"name":(name),"weight":(weights),"height":(heights),"BMI":(BMI)})
BMIData

     name  weight  height    BMI
0     Max     110      70  15.78
1  Oliver     115      71  16.04
2     Tom     120      72  16.27
3   Harry     125      73  16.49
4  Jasper     130      74  16.69
5    Finn     135      75  16.87
6   Felix     140      76  17.04
7   Asher     145      77  17.19

We have provided you with a data set names `smartphones.csv`. This dataset contains information about various smartphones and their specifications.

**Question 2:** Read dataset from `smartphones.csv` and assign this dataframe to `smartphoneData`. Print the first 5 rows of the dataset so you know what the data is like:

In [5]:
# Please write your code below
smartphoneData = pd.read_csv("smartphones.csv")
smartphoneData.head(5)

,brand_name,Mdl,pc,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,reso,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,faulty
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,snapdragon,8.0,3.2,...,120,1440โxโ3216,3,1.0,android,50.0,16.0,0,NaN,0
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.2,...,120,1080โxโ2412,3,1.0,android,64.0,16.0,1,1024.0,0
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.4,...,90,1080โxโ2408,3,1.0,android,50.0,13.0,1,1024.0,0
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,snapdragon,8.0,2.2,...,120,1080โxโ2400,3,1.0,android,50.0,16.0,1,1024.0,0
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.6,...,120,1080โxโ2412,3,1.0,android,108.0,16.0,0,NaN,0

**Question 3:** In order to familiarize ourself with the dataset further, it is good to know the shape. Print the shape of the dataset and assign it to the variable `smartphoneDatashape`:

In [23]:
# Please write your code below
smartphoneDatashape = smartphoneData.shape
print(smartphoneDatashape)

(980, 26)

**Question 4:** Now that we know the shape of the dataset check if null values are present in it by writing a relevant code snippet that would do the job for you. Store the number of rows with null values, if any, in the variable `smartphoneDfNull`.

In [195]:
# Please write your code below
##for row in table : 

smartphoneDN = smartphoneData.isnull().sum().sum()
smartphoneDN

894

**Question 5a:** If you found any null values (missing values) from the code above, replace all those values with the average value in their respective columns. Do this only for columns containing numeric values. You are allowed to use the built-in mean() function here.

In [526]:
##y=smartphoneData.select_dtypes(include = ['number'])
##for x in y.columns:
 ##   y.fillna({x: y[x].mean()}, inplace=True)
##y
##new3=y.copy()
df_new=smartphoneData.copy()
for col in df_new.columns:
    if df_new[col].dtype=='number':
        mean_val = df_new[col].mean()
        df_new[col] = df_new[col].fillna(mean_val)

Now for the rows that still have null values (in the non-numeric columns), drop these rows from the dataframe

In [534]:
# Please write your code below
##df2=smartphoneData.copy()
##for col in df2.columns:
  ##  if df2[col].dtype=='number':
    ##    mean_val = df2[col].mean()
      ##  df2[col] = df2[col].fillna(mean_val)
    ##else:
     ##   df2.dropna(inplace=True)
df_new2=df_new.copy()
df_new2.dropna(inplace=True)
df_new2

,brand_name,Mdl,pc,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,reso,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,faulty
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.20,...,120,1080โxโ2412,3,1.0,android,64.0,16.0,1,1024.0,0
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.40,...,90,1080โxโ2408,3,1.0,android,50.0,13.0,1,1024.0,0
5,samsung,Samsung Galaxy F23 5G (6GB RAM + 128GB),16999,80.0,True,True,False,snapdragon,8.0,2.20,...,120,1080โxโ2408,3,1.0,android,50.0,8.0,1,1024.0,0
10,realme,Realme 10 Pro,18999,82.0,True,False,False,snapdragon,8.0,2.20,...,120,1080โxโ2400,2,1.0,android,108.0,16.0,1,1024.0,0
13,vivo,Vivo T1 5G (6GB RAM + 128GB),16990,80.0,True,False,False,snapdragon,8.0,2.20,...,120,1080โxโ2408,3,1.0,android,50.0,16.0,1,1024.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,realme,Realme Narzo 20,10499,72.0,False,False,False,helio,8.0,2.00,...,60,720โxโ1600,3,1.0,android,48.0,8.0,1,256.0,1
961,oppo,OPPO A58x,13990,72.0,True,False,False,dimensity,8.0,2.20,...,90,720โxโ1612,2,1.0,android,13.0,8.0,1,1024.0,0
962,doogee,Doogee S99,14999,84.0,False,True,False,helio,8.0,2.05,...,60,1080โxโ2340,3,1.0,android,108.0,32.0,1,1024.0,0
970,realme,Realme Narzo 50i Prime (4GB RAM + 64GB),8720,64.0,False,False,False,tiger,8.0,1.82,...,60,720โxโ1600,1,1.0,android,8.0,5.0,1,1024.0,1
976,honor,Honor X8 5G,14990,75.0,True,False,False,snapdragon,8.0,2.20,...,60,720โxโ1600,3,1.0,android,48.0,8.0,1,1024.0,0

**Question 5b:** A good data scientist needs to be able to justify his/her choices. Do you think this was a good way of dealing with missing values? Why or why not?

In [530]:
## Write your answer here:
## Replacing and Removing NULL values from DataSet is very important for accurate and precise statistical analysis on dataset as NULL values can bring BIAS in analysis and give inaccurate results

**Question 6:** While going through the dataframe, you might have noticed some discrepancies in the column names. We will rename these columns so that we can make more sense out of the data and comprehend it in a better way. The following column changes must be reflected in the dataframe.
<ul>

<li>Mdl --> model</li>
<li> pc --> price</li>
<li>reso --> res </li>
 <li> primary_camera_rear --> rear_megapixels</li>
     <li> primary_camera_front --> front_megapixels</li>
</ul>

You should also drop the `rating` column.

In [568]:
## Please write your code below
df_new3=df_new2.copy()
df_new3.rename(columns={"Mdl":"model","pc":"price","reso":"res","primary_camera_rear":"rear_megapixels","primary_camera_front":"front_megapixels"},inplace='True')
df_new4=df_new3.drop(['rating'],axis=1)
df_new4

,brand_name,model,price,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,battery_capacity,...,refresh_rate,res,num_rear_cameras,num_front_cameras,os,rear_megapixels,front_megapixels,extended_memory_available,extended_upto,faulty
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,True,False,False,snapdragon,8.0,2.20,5000.0,...,120,1080โxโ2412,3,1.0,android,64.0,16.0,1,1024.0,0
2,samsung,Samsung Galaxy A14 5G,16499,True,False,False,exynos,8.0,2.40,5000.0,...,90,1080โxโ2408,3,1.0,android,50.0,13.0,1,1024.0,0
5,samsung,Samsung Galaxy F23 5G (6GB RAM + 128GB),16999,True,True,False,snapdragon,8.0,2.20,5000.0,...,120,1080โxโ2408,3,1.0,android,50.0,8.0,1,1024.0,0
10,realme,Realme 10 Pro,18999,True,False,False,snapdragon,8.0,2.20,5000.0,...,120,1080โxโ2400,2,1.0,android,108.0,16.0,1,1024.0,0
13,vivo,Vivo T1 5G (6GB RAM + 128GB),16990,True,False,False,snapdragon,8.0,2.20,5000.0,...,120,1080โxโ2408,3,1.0,android,50.0,16.0,1,1024.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,realme,Realme Narzo 20,10499,False,False,False,helio,8.0,2.00,6000.0,...,60,720โxโ1600,3,1.0,android,48.0,8.0,1,256.0,1
961,oppo,OPPO A58x,13990,True,False,False,dimensity,8.0,2.20,5000.0,...,90,720โxโ1612,2,1.0,android,13.0,8.0,1,1024.0,0
962,doogee,Doogee S99,14999,False,True,False,helio,8.0,2.05,6000.0,...,60,1080โxโ2340,3,1.0,android,108.0,32.0,1,1024.0,0
970,realme,Realme Narzo 50i Prime (4GB RAM + 64GB),8720,False,False,False,tiger,8.0,1.82,5000.0,...,60,720โxโ1600,1,1.0,android,8.0,5.0,1,1024.0,1
976,honor,Honor X8 5G,14990,True,False,False,snapdragon,8.0,2.20,5000.0,...,60,720โxโ1600,3,1.0,android,48.0,8.0,1,1024.0,0

**Question 7:** There are some columns which have values of either `True` or `False`. Write a code snippet to replace these values with a 1 or a 0 respectively.

In [669]:
# Please write your code below
df_new5=df_new4.copy()
for col2 in df_new5.columns:
    if df_new5[col2].dtype=='bool':
        df_new5[col2].replace({True:1})
        df_new5[col2].replace({False:0})
##df_new5=df_new4.copy()
##df_new6=df_new5.replace({True,1})
##df_new5.replace('False',0)
##df_new5

**Question 8:** Now that we have understood the whole dataframe and tweaked it up to make it more comprehensible, set the index of the data frame to `brand_name`

In [ ]:
# Please write your code below
df_new7=df_new5.copy()
df_new7.set_index('brand_name')

**Question 9a:** Saad needs to buy a new phone and as a data scientist, he has selected you to help him make a decision. His maximum budget is 50,000 rupees. However, he does not want to trade off quality for a phone that is too cheap. Filter out all the phones that fall within his budget constraint but also cost at least 15,000 rupees, and store it in the variable `filteredPhones`.

In [ ]:
# Please write your code below
df_new8=df_new7.copy()
filteredPhones=df_new8.query('price<50000' and 'price>15000' )

**Question 9b:** Next, saad gives you a list which contains preference values for certain smartphone features:

| feature | preference value |
|-----|-----|
| number of cores | 3 |
| battery capacity | 5 |
| screen size | 2 |
| refresh rate | 3 |
| ram capacity | 4 |
| internal memory | 5 |
| processor speed | 4 |
| rear camera megapixels | 3 |
| front camera megapixels | 2 |

Write a function `calculate` that takes a full row from the filtered dataset as a parameter and returns the score for the phone in that row by multiplying the preference values with the corresponding characterstics. **Hint:** There is a certain function which helps you print all column names in order (just in case you need to find their index)

In [771]:
# Please write your code below

def calculate(i):
    for index, row in df_new8.loc[i:i, ['num_cores', 'battery_capacity','screen_size','refresh_rate','ram_capacity','internal_memory','processor_speed','rear_megapixels','front_megapixels']].iterrows():
        score=row['num_cores']*3+row['battery_capacity']*5+row['screen_size']*2+row['refresh_rate']*3+row['ram_capacity']*4+row['internal_memory']*5+row['processor_speed']*4+row['rear_megapixels']*3+row['front_megapixels']*2
    return(score)

**Question 9c** Make a new dataframe with scores for each of the filtered phones along with their price, os and processor brand . Note: Order should be `score`, `price`, `os`,`processor_brand` with `model` as index. Assign it to `phoneScores`.

In [ ]:
# Please write your code below

i=1
df_new9=df_new8.copy()
total=df_new9.shape[0]
while i <= total:
    b=calculate(i)
    phoneScores = pd.DataFrame({"score":[b],"price":[df_new9.loc[i,"price"]],"os":[df_new9.loc[i,"os"]],"processor_brand":[df_new9.loc[i,"processor_brand"]],"model":[df_new9.loc[i,"model"]]})  
    i+=1
phoneScores

**Question 9d** Using a pivot table, count the number of different processor brands each operating system (os) has. **Note:** Keep the operating system as the column. Assign the pivot table to the variable `pivotTable`

In [ ]:
# Please write your code below
##df_new8.columns
##pivotTable = ...
##df_new8.shape[1]

##phoneScores = pd.DataFrame({"score":[2],"price":[df_new8.loc[2,"price"]],"os":[df_new8.loc[2,"os"]],"processor_brand":[df_new8.loc[2,"processor_brand"]],"model":[df_new8.loc[2,"model"]]})  

a = pd.DataFrame({"score":[2]})
a

**Question 9e** Using the phoneScores dataframe, Saad wants you to check for the most popular processor brand. Create a horizontal bar plot, where the y-axis contains each processor brand and the x-axis contains the number of phones using that brand of processor. Then write a code snippet to find the most popular brand and store this in the variable `most_popular_processor`

In [769]:
# Please write your code below
df_new8.loc[10:10, ['num_cores', 'battery_capacity','screen_size','refresh_rate','ram_capacity','internal_memory','processor_speed','rear_megapixels','front_megapixels']]
##most_popular_processor = ...

,num_cores,battery_capacity,screen_size,refresh_rate,ram_capacity,internal_memory,processor_speed,rear_megapixels,front_megapixels
10,8.0,5000.0,6.72,120,6,128,2.2,108.0,16.0

**Question 9f** Saad now decides that he only wants an android phone with the most popular processor. Filter your results from the `phoneScores` dataframe to find phones with android operating systems and the processor brand you shortlisted in Q9e and store them in the variable `androidPhones`.

In [ ]:
# Please write your code below

androidPhones = ...

**Question 9g** Finally, from these filtered android phones, find out the top 5 phones with the highest scores. Plot a bar chart for these phones with their model on the x axis and price on the y axis.

In [ ]:
# Please write your code below
...

**Question 9h** From these top 5 phones, Saad wants to buy the cheapest one. Use a python function to find the cheapest phone from these top 5 phones. Then visually find the cheapest phone from your bar chart. Do they match? If so, store the model name in the variable `finalPhone`.

In [ ]:
# Please write your code below

finalPhone = ...

**Question 10** Using the original dataset `smartPhoneData`, find out if the average price of Android phones is higher than apple (ios) Phones. Make a variable names `higher_price` and store the string `Yes` or `No` in it depending on your answer. `Yes` indicating that Android phones are more expensive, on average.

In [ ]:
# Please write your code below

higher_price = ...

**Question 11** How many phones have a price and battery capacity below the thresholds mentioned below? Store it in the variable `numberOfPhones`. (Use the original dataset)
<br>
The column `faulty` in the original dataset indicates if a phone has known faults or not. `1` indicates there are known faults and `0` indicates there are no known faults.
Do you think phones with a lower price and battery capacity than the threshold have a higher probability of getting a fault? Justify this claim by providing a valid analysis.

In [ ]:
priceThreshold = 50000
batteryThreshold = 3000

# Please write your code below

numberOfPhones = ...

## Provide an explanation for your answer below
## ...

End of Assignment 01 ๐